body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

#top-portion {
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#inner-content {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#number-input {
    background-color: #6943FF;
    color: white;
    font-size: 75px;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #B295FF;
    border-radius: 10px;
    font-weight: 800;
    line-height: 25px;
    width: 100%;
}

#convert-btn {
    background-color: white;
    color: #3D3D3D;
    font-size: larger;
    line-height: 24px;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
    border: 0;
    width: 100%;
    margin: 20px 0px;
}

#bottom-portion {
    background-color: #F4F4F4;
    padding: 10px;
}

.unit {
    margin: 20px 10px;
    display: block;
    background-color: white;
    text-align: center;
    color: #353535;
    padding: 10px 20px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;

}

.title {
    color: #5A537B;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}

.content {
    margin: 15px 10px;
}